.container {}

.addList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.item {
    margin: 20px;
}

#input-box {
    width: 400px;
    height: 38px;
    font-size: 18px;
}

#add-btn {
    height: 38px;
    font-size: 18px;
    margin-left: 20px;
}

.todo-list {
    text-align: center;
}

.new-item {
    margin-right: 15px;
}